.feed-container
{
    width: 100%;
    max-width: 988px;
    position: relative;
    display: flex;
    line-height: 1.4;
    /* background-color: red; */
}

.feed-left-wrapper
{
    width: 100%;
    max-width: 588px;
    position: relative;
    border-right: 1px solid rgb(47, 51, 54);
    /* background-color: antiquewhite; */
}

.feed-left-header
{
    width: 100%;
    height: 53px;
    padding: 0 1.2rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.591);
    backdrop-filter: blur(5px) opacity(0.9);
    z-index: 10;
}

.feed-left-header span
{
    font-size: 1.25rem;
    font-weight: 700;
}

.feed-body
{
    width: 100%;
}

.feed-create-section
{
    width: 100%;
    position: relative;
    margin-top: 0.5rem;
    padding: 0 1.2rem;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.fc-top
{
    display: flex;
    /* align-items: center; */
    gap: 1.2rem;
}

.fc-top-img
{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.fc-top-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fc-top-input
{
    width: 100%;
}

#fcti{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    padding-top: 1rem;
    color: rgb(231, 233, 234);
    font-weight: 400;
    overflow-y: hidden;
    resize: none;
}

.fc-middle
{
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 0.2rem;
    margin-left: 4.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(47, 51, 54);
    cursor: pointer;
    font-size: 0.9rem;
}

.fc-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
}

.fcb-left
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.3rem 0;
    
}
.fcb-left svg
{
    cursor: pointer;
}
.fcb-left svg:not(:nth-child(1))
{
    pointer-events: none;
    opacity: 0.5;
}

.fcb-right
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.canvas-container
{
    position: relative;
    width: 25px;
    height: 25px;
}

#my_canvas
{
    position: absolute;
    z-index: 3;
}

#my_canvas_fake
{
    position: absolute;
    top: 12.2px;
    left:12.91px;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.fc-tweet
{
    background-color: rgb(29, 155, 240);
    padding: 0.5rem 1.2rem;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
}

.feed-tweet
{
    padding: 1rem;
    border-bottom: 1px solid rgb(47, 51, 54);
}
.fts-header
{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1rem;
    /* align-items: baseline; */
}

.fts-img
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.fts-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ftshr-top
{
    font-size: 1.05rem;
    font-weight: 500;
}

.ftshr-top span
{
    color: #71767B;
    font-weight: 300;
}

.fts-body-container
{
    position: relative;
    width: 100%;
    padding-left: 3.8rem;
    margin-bottom: 0.8rem;
}

.fts-body-wrapper
{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.media-wrapper
{
    width: fit-content;
    max-width: 100%;
    height: 510px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    /* display: flex; */
    /* justify-content: flex-start; */
}

.media-wrapper img , .media-wrapper video
{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.tweet-video-wrapper
{
    width: 100%;
    height: auto;
    max-height: 510px;
}
.fts-actions{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3.8rem;
}

.fts-action
{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: #71767B;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: calc(100%/4);
}

.fts-action:hover
{
    color: rgb(29, 155, 240);
}

.feed-right-wrapper
{
    width: 400px;
    /* background-color: antiquewhite; */
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2rem;
    padding-right: 1rem;

}

.feed-right-wrapper::-webkit-scrollbar
{
    width: 1px;
    background-color: rgba(47, 51, 54, 0.094);
}
.feed-right-header
{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.3rem 0;
    background-color: black;
    margin-bottom: 1rem;
}


.fr-search
{
    width: 100%;
    background-color: rgb(32,35,39);
    overflow-x: hidden;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    color: rgb(113, 118, 123);
    border: 1px solid rgb(32,35,39);
    /* transition: 0.2s ease; */
}

.fr-search:focus-within
{
    border-color: rgb(29, 155, 240);
    color: rgb(29, 155, 240);
}

.fr-search-input
{
    padding: 12px;
    width: 100%;
}

.fr-search-input input
{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(231, 233, 234);
    font-size: 1rem;
}

.feed-right-body
{
    width: 100%;
    position: relative;
}
.trends-section,.wtf-section
{
    overflow-x: hidden;
    border-radius: 1rem;
    padding-top: 10px;
    background-color: rgb(22, 24, 28);
    margin-bottom: 1rem;

}

.ts-title
{
    color: rgb(231, 233, 234);
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
    padding: 0 18px;
}

.ts-main,.trend-card,.wtf-card
{
    width: 100%;
    position: relative;
}

.trend-card,.wtf-card
{
    padding: 3px 18px;
    padding-bottom:15px;
    transition: 0.2s ease;
    cursor: pointer;
}

.trend-card:hover,.wtf-card:hover
{
    background-color: rgba(47, 51, 54, 0.453);
}

.tc-cat
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(113, 118, 123);
    font-size: 0.8rem;
}

.tc-name
{
    font-weight: 700;
    /* margin-top: -3px; */
    margin-bottom: 3px;
}

.tc-tweetno
{
    font-size: 0.8rem;
    color: rgb(113, 118, 123);
}

.tc-morespan
{
    width: 34.75px;
    height: 34.75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.tc-morespan:hover
{
    color: rgb(29, 155, 240);
    background-color: rgba(29, 156, 240, 0.104);
}

.wtf-card
{
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.wtf-img
{
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
    flex-shrink: 0;
}

.wtf-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wtf-follow
{
    margin-left: auto;
    padding: 0 1rem;
    height: 32px;
    background-color: rgb(239, 243, 244);
    color: black;
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.wtf-name
{
    line-height: 1.2;
}

.tos-section
{
    font-size: 13px;
    color: rgb(113, 118, 123);
    padding: 0.5rem 1rem;
    line-height: 1.6;
}

.messages-container
{
    position: fixed;
    bottom: 0;
    right: 1rem;
    height: 530px;
    width: 400px;
    background-color: black;
    color: white;
    z-index: 20;
    overflow: hidden;
    border-radius: 1rem;
        box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
    transition: all 0.3s ease;
}

.messages-wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
}

.messages-header
{
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mh-icon
{
    width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: 0.2s ease;
}

.mh-icon:hover
{
    background-color: rgba(47, 51, 54, 0.453);
}

.messages-header div
{
    display: flex;
    align-items: center;
}

.message-toggled
{
    /* transition: all 1s ease-in-out; */
    height: 53px;
    border-radius: 1rem 1rem 0 0 ;
}

.toggle-mc
{
    transform: rotate(180deg);
}

@media screen and (max-width:1060px) {
    .feed-right-wrapper
    {
        display: none;
    }
}